body{
    /* background-color: rgb(46, 187, 243); */
    background-color: #283149;
    text-align: center;
}

.heading{
    font-size: 5rem;
    font-family: "Edu NSW ACT Cursive", cursive;
    color: aliceblue;
    text-shadow: 3px 0 #DA0463;
}

footer{
    color: #DBEDF3;
    font-family: sans-serif;
}

.set{
    margin: 10pc auto;
}

.drum{
    width: 120px;
    height: 120px;
    margin: 20px;
    padding: 10px;
    border: 10px solid #404B69;
    border-radius: 15px;
    font-family: 'Arvo', cursive;
    font-size: 3rem;
    outline: none;
    line-height: 2;
    font-weight: 900;
    color: #DA0463;
    text-shadow: 3px 0 #DBEDF3;
    display: inline-block;
    text-align: center;
    background-color: white;
}

.pressed{
    box-shadow: 0 3px 4px 0 #DBEDF3;
    opacity: 0.5;
}

.w{
    background-image: url(./images/tom1.png);
}

.a{
    background-image: url(./images/tom2.png);
}

.s{
    background-image: url(./images/tom3.png);
}

.d{
    background-image: url(./images/tom4.png);
}

.j{
    background-image: url(./images/kick.png);
}

.k{
    background-image: url(./images/snare.png);
}

.l{
    background-image: url(./images/crash.png);
}

